.main{
    
    padding: 30px;
    overflow: scroll;
   align-self: center;
   justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
    
}
@media only screen and (max-width:1106px) {
    .main{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width:870px) {
    .main{

        grid-template-columns: 1fr;
    }
}
